body{
    display: flex;
    flex-direction: column;
    flex: 1;  
}

img{
    width: 200px;
    height: 200px;
    border-style: solid;
}

a{
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 3px;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    display:flex;
    border-style: solid;
    gap: 10 px;
}
li{
    text-decoration: none;
}

button{
    background-color: #3882F6;
}

header{
    background-color: #1F2937;
    border: 1px;
    display: flex;
    flex-direction: column;
    border-style: solid;     

}
nav{
    color: #F9FAF8;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-style: solid; 
}

header.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box3{
    background-color: #E5E7EB;
    border-style: solid; 
    text-align: center;
}

footer{
    background-color: #1F2937;
    border: 1px;
    color: #F9FAF8;
    align-items: center;
    text-align: center;
    border-style: solid; 
    
}

