body{
    display: flex;   
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: space-around;    
    padding: 0px;
    margin: 0px;
}

header, footer{
    background-color: #1F2937;
    color: #F9FAF8
}

h1{
    font-size: 48px;
    font-weight: extra-bold;    
}

blockquote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
}

h2{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

p.hero{
    font-size: 24px;
}

img{
    width: 200px;
    height: 200px;
    
}

a{
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 3px;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    display:flex;
    gap: 10 px;
    font-size: 18px;
    color: #E5E7EB;
}
li{
    text-decoration: none;
}

button, div.box3{
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
}

header{
    
    border: 1px;
    display: flex;
    flex-direction: column;
    gap: 0;
       

}

nav{
    color: #F9FAF8;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}

div.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.box3{
    background-color: #E5E7EB; 
    display:flex;  
    text-align: center;
    padding: 0px;
    margin: 60px;
    justify-content: space-around;
}

footer{
    
    border: 1px;
    color: #F9FAF8;
    align-items: center;
    text-align: center;
   
    
}

